@import "tailwindcss";

@theme {
  --color-primary: #2b8cee;
  --radius-custom: 4px;
  --font-sans: "Inter", system-ui, -apple-system, sans-serif;
}

body {
  font-family: var(--font-sans);
  background-color: #f9fafb;
  -webkit-tap-highlight-color: transparent;
}

.safe-bottom {
  padding-bottom: env(safe-area-inset-bottom);
}
.safe-top {
  padding-top: env(safe-area-inset-top);
}
